<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assignment9</title>
</head>
<body>
{% extends "cv.html" %}
{% block Login %}
    {% if session.get('logged_in') %}
        <h2>Hey {{ session.get('username') | upper }}!</h2>
        <form action="/logout" method="GET" style="text-align: center;">
            <button type="submit">Log out</button>
        </form>

    {% else %}
        <h2>Hello guest, welcome to my website</h2>
        <div class="registration">
            <h3>Registration-Enter your details:</h3>
            <div style="text-align: center;"><img src="{{ "/static/images/registrationbanner.jpg" }}" alt="registration" width="580px"></div><br>
            <form action="/assignment9" method="POST" style="
                text-align: center;
                width: 10%;
                margin: auto;">
                <label for="nickname">Nickname:</label>
                <input name="nickname" type="text" required>
                <label for="password">Password:</label>
                <input name="password" type="password" required>
                <button type="submit">Enter</button>
            </form>
        </div>
    {% endif %}
{% endblock %}

{% block Search %}
    <div class="search" style="text-align: center;">
        <h3>Search User</h3>
        <form action="/assignment9" method="GET" style="text-align: center;">
            <label for="search">Search:</label>
            <input type="text" name="searchInput" placeholder="Search..">
            <button type="submit">Submit</button>
        </form>
        <div>
            {% if search %}
                <h3>Search Result:</h3>
                {% for j in users %}
                    {% if j.first_name == search or j.last_name == search or j.email == search %}
                        <h3>{{ j.first_name }}, {{ j.last_name }}, {{ j.email }}</h3>
                        <img src="{{ j.avatar }}" alt="Profile Picture"/>
                        <div>
                            <a href="mailto:${user.email}">Send email</a>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if search =='' %}
                <h3>Search Result: All Users</h3>
                {% for user in users %}
                    <h3>{{ user.last_name }}, {{ user.first_name }}, {{ user.email }}</h3>
                    <img src="{{ user.avatar }}" alt="Profile Picture"/>
                    <div>
                        <a href="mailto:${user.email}">Send email</a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock %}

</body>
</html>