<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Amit resume</title>
</head>
<body>
<p>
   <div style="text-align: center; font-family:Calibri "/>
<h1>AMIT PERETZ RESUME</h1></div>
<div style="font-family:Calibri "/>
<h2>UX answers: </h2> <div/>
  <div style="font-family:Calibri "/>
<ol>
    <li>
      The site's target audience is companies looking for employees
      <br> <br>
        </li>
    <li>
      The main purpose of the site is to present my resume to a large audience
      <br> <br>
            </li>
    <li>
      The secondary and no less important goals are to make the viewer impressed by the site,
      <br> to present a high level of performance
      <br> <br>
            </li>
    <li>
      The actions I want the user to take are viewing my resume, contacting,
      <br>
            </li>
    <li>
      viewing projects I have performed and being able to comment on them
      <br> <br>
            </li>
    <li>
      The measure of success for me is the high number of inquiries and comments
      <br> <br>
            </li>
    <li>
      The content world of the site is high-tech
      <br>
    </li>
    </ol>
<div style="font-family:Calibri "/>
<h2>UI Schema: </h2> <div/>

</div></p>
<div style="text-align: center;"><img src="UI.png" alt="UI" width="500px"></div>
<div style="font-family:Calibri "/>
<ol>
    <li>
Colors: Soothing pastel colors
<br>
    </li>
    <li>
Fonts: "Calibri" (The font I use now)
<br>
    </li>
       <li>
Images: Me, resume, projects

       </li>
    </ol>
<div/>
</body>
</html>
